body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  header {
    background-image: url('collection-colorful-portuguese-ceramic-pottery-600nw-1387908362.webp');
    background-size: cover;
    color: #fff;
    padding: 80px;
    text-align: center;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h1, h2 {
    margin: 0;
    text
  }
  
  section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #ff6f61;
  }
  
  button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    background-size: cover;
    padding: 15px;
  }
  
  button:hover {
    background-color: #ff514b;
  }
  
  a {
    color: #ff6f61;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff514b;
    text-decoration: underline;
  }